.main-container {
	width: 100%;
	height: 100%;
}
#phase {
	horizontal-align: center;
	vertical-align: top;
	margin-top: 100px;
	flow-children: down;
}
#phase Label {
	horizontal-align: center;
	transition: opacity 1.0s ease-in-out 0.0s;
	text-align: center;
}
#phase-label {
	font-size: 90px;
	color: white;
	text-shadow: 4px 6px 3px 1.5 #000000;
}
#phase Label.hide {
	opacity: 0;
}
#lynchcount-label {
	font-size: 60px;
	color: white;
	text-shadow: 3px 4px 3px 1.5 #000000;
}

#clock-container {
	background-color: #1C1C1C;
	horizontal-align: center;
	vertical-align: top;
	width: 700px;
	height: 90px;
	margin-top: -15px;
	border: 5px solid #4D4D4D;
	box-shadow: fill #111111 2px 2px 3px 3px;
	border-radius: 20px;
}
#clock-fill {
	height: 100%;
	width: 0%;
}
#clock-fill.day {
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#FF8800), to(#B05E00));
}
#clock-fill.night {
	background-color: gradient(linear, 0% 0%, 0% 100%, from(#590169), to(#330031));
}
#clock-text {
	horizontal-align: center;
	vertical-align: center;
	padding-top: 15px;
	font-size: 48px;
	color: white;
	text-shadow: 5px 5px 2px 1.5 #222222;
	text-transform: uppercase;
	transition: opacity 1.0s ease-in-out 0.0s;
}
#clock-text.hide {
	opacity: 0;
}

#votecount {
	vertical-align: center;
	horizontal-align: right;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #131617fc ), to( #1C1C1C ) );
	height: 600px;
	width: 375px;
	border-radius: 15px;
	margin-right: -15px;
	padding: 15px;
	flow-children: down;
	transition: position 1.5s ease-in-out 0.5s;
	overflow: squish scroll;
	border: 5px solid #4D4D4D;
	box-shadow: fill #000000 3px 5px 3px 3px;
}
#votecount-header {
	font-size: 40px;
	text-align: center;
	horizontal-align: center;
	text-transform: uppercase;
	text-decoration: underline;
}
#votecount-votecount {
	flow-children: down;
}
#votecount-votecount Label {
	font-size: 28px;
}
.votecount-player {
	flow-children: down;
}
.votecount-player-top {
	flow-children: right;
}
#votecount DOTAHeroImage {
	margin-right: 5px;
}
.votecount-player-voters {
	margin-left: 15px;
	flow-children: right;
}
#votecount.hide {
	position: 400px 0px 0px;
}
.votecount-player.lynch-minus-one Label {
	color: red;
}
#votes-to-lynch {
	font-size: 32px;
	margin-bottom: 20px;
	text-align: center;
	horizontal-align: center;
}

#lynch-alert {
	horizontal-align: center;
	vertical-align: center;
	flow-children: down;
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #131617fc ), to( #1C1C1C ) );
	padding: 20px;
	border-radius: 15px;
	transition: position 1.2s ease-in-out 0.5s, opacity 0.5s ease-in-out 0s;
	opacity: 1;
}
#lynch-alert.hide {
	position: 0px -1000px 0px;
}
#lynch-alert.fade {
	opacity: 0;
}
#lynch-alert-top {
	flow-children: right;
	border-bottom: 1px solid white;
	padding-bottom: 20px;
}
#lynch-header-container {
	width: 500px;
	vertical-align: center;
}
#lynch-alert Label {
	color: white;
	text-shadow: 4px 6px 3px 1.5 #000000;
	opacity: 1;
	text-align: center;
	horizontal-align: center;
	vertical-align: center;
}
#lynch-header {
	font-size: 55px;
	margin: 0px 10px;
}
#lynch-grave {
	flow-children: down;
	padding: 30px 30px 10px 30px;
	background-image: url("file://{images}/custom_game/gravestone.jpg");
	background-position: center center;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
	box-shadow: fill #000000 0px 3px 5px 0px;
}
#lynch-image {
	height: 159px;
	width: 124px;
	margin: 0;
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
	saturation: 0.65;
	box-shadow: inset #111111dd 0px 0px 8px 12px;
	border: 0.75px solid #444;
}
#lynch-grave Label {
	horizontal-align: center;
	color: #aaa;
	font-size: 40px;
	margin-top: 5px;
}
#lynch-alert-bottom {
	padding-top: 25px;
	width: 100%;
	flow-children: down;
}
Label#lynch-mob-header {
	font-size: 44px;
}
#lynch-mob {
	flow-children: right;
	horizontal-align: center;
	width: 100%;
	margin-top: 5px;
}
#lynch-mob-left-column, #lynch-mob-right-column {
	width: 50%;
	flow-children: down;
}
.lynch-mob-player {
	flow-children: right;
}
.lynch-mob-player Label {
	font-size: 30px;
}

#card {
	width: 356px;
	height: 500px;
	vertical-align: center;
	transition: transform 2.0s linear 0.0s;
	background-image: url("file://{images}/custom_game/card.png");
	background-size: contain;
	background-repeat: no-repeat;
}
#card #card-contents {
	opacity: 0;
	font-size: 70px;
	color: black;
	transition: opacity 0.1s linear 0.5s;
}
#card.flip {
	transform: rotateY(180deg);
}
#card.flip #card-contents {
	opacity: 1;
}

#kill-alert {
	horizontal-align: center;
	vertical-align: bottom;
	margin-bottom: 225px;
	max-width: 850px;
	transition: opacity 1.0s linear 0.0s;
}
#kill-alert.hide {
	opacity: 0;
}
#kill-caption {
	text-shadow: 3px 3px 2px 2.5 #000000;
	font-size: 55px;
	text-align: center;
	color: white;
}
.strong {
	font-weight: bold;
}
.alignment-0 {
	color: #1cd600;
}
.alignment-1 {
	color: red;
}
.alignment-2 {
	color: #637dff;
}
.alignment-3 {
	color: #f389ff;
}